<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.AttVMapper">
    <select id="queryCount" parameterType="com.fh.model.vo.PinPaiData" resultType="java.lang.Integer">
        select count(*) from shop_shuxing att LEFT JOIN shop_attr_value v on att.id=v.attid where 1=1
        <if test="name!=null and name!=''">
            and att.nameCH like concat('%',#{name},'%')
        </if>
    </select>
    <select id="queryAttV" resultType="com.fh.model.po.Attribute"  parameterType="com.fh.model.vo.PinPaiData">
        select att.nameCH as name,v.nameCh from shop_shuxing att LEFT JOIN shop_attr_value v on att.id=v.attid
          where att.isDel=0
        <if test="name!=null and name!=''">
            and att.nameCH like concat('%',#{name},'%')
        </if>
          limit ${size*(currPage-1)},#{size}
    </select>
    <!--<insert id="addAttribute" parameterType="com.fh.model.po.Attribute">
     insert  into shop_shuxing (name,nameCH,typeId,type,isSKU,isDel,createDate,author) value
     (#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},#{createDate},#{author})
    </insert>
    <update id="updateAttribute" parameterType="com.fh.model.po.Attribute">
        update shop_shuxing set name=#{name},nameCH=#{nameCH},typeId=#{typeId},type=#{type},isSKU=#{isSKU},
        isDel=#{isDel},updateDate=#{updateDate},author='11' where id=#{id}
    </update>
    <update id="deleteAttributeById" parameterType="java.lang.Integer">
        update shop_shuxing set isDel=1 where id=#{id}
    </update>-->
</mapper>
