<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.AttVMapper">
    <select id="queryCount" parameterType="com.fh.model.vo.PinPaiData" resultType="java.lang.Integer">
        select count(*) from shop_attr_value att LEFT JOIN shop_attr_value v on att.id=v.attid where 1=1
        <if test="name!=null and name!=''">
            and att.nameCH like concat('%',#{name},'%')
        </if>
    </select>
    <select id="queryAttV" resultType="com.fh.model.po.AttValue"  parameterType="com.fh.model.vo.PinPaiData">
        select att.name,att.nameCH from shop_attr_value att LEFT JOIN shop_attr_value v on att.id=v.attid
          where att.isDel=0
        <if test="name!=null and name!=''">
            and att.nameCH like concat('%',#{name},'%')
        </if>
          limit ${size*(currPage-1)},#{size}
    </select>

   <insert id="addAttv" parameterType="com.fh.model.po.AttValue">
     insert  into shop_attr_value (name,nameCH,isDel,attid) value (#{name},#{nameCH},#{isDel},#{attid})
    </insert>

    <update id="updateAttv" parameterType="com.fh.model.po.AttValue">
         update shop_attr_value set name=#{name},nameCH=#{nameCH},isDel=#{isDel},attid=#{attid} where id=#{id}
     </update>

</mapper>
